{% extends 'core/base.html' %}

{% block content %}
<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <h1 class="mb-4 mt-8 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">C'est quoi COD SYS</h1>
  <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis adipisci, omnis repudiandae quis numquam vitae provident quam praesentium nostrum ad! In praesentium, non officiis ipsa debitis eius, at, cum quod sint error rem? Aliquam itaque excepturi reprehenderit quis magnam totam aperiam, mollitia nisi harum corporis consectetur aliquid consequuntur blanditiis modi cum in amet ratione voluptas. Modi incidunt cupiditate nihil aspernatur.
  </p>
</div>

<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
  <h1 class="mb-4 mt-8 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">Pourquoi COD SYS ® ?</h1>
  <div class="flex flex-col md:flex-row justify-between gap-4">
     <div class="md:w-1/2 py-4 h-full flex flex-col items-center justify-center">
        <p class="mb-6  block text-gray-500 sm:text-lg md:mb-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, sed optio? Voluptatibus qui nulla blanditiis ex eligendi similique, dignissimos explicabo fuga! Saepe reiciendis culpa, id corrupti fuga voluptatem vel est quibusdam nesciunt inventore animi, nobis debitis doloremque tempora voluptates minima sint, earum magni natus quam!</p>
        <p class="mb-6  block text-gray-500 sm:text-lg md:mb-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, sed optio? Voluptatibus qui nulla blanditiis ex eligendi similique, dignissimos explicabo fuga! Saepe reiciendis culpa, id corrupti fuga voluptatem vel est quibusdam nesciunt inventore animi, nobis debitis doloremque tempora voluptates minima sint, earum magni natus quam!</p>
     </div>
     <div class="md:w-1/2">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
          <img src="/static/media/category_images/pexels-lucas-souza-2767159.jpg" loading="lazy" alt="Photo by Minh Pham" class="h-full w-full object-cover object-center">
        </div>
     </div>
  </div>
</div>
{% endblock %}
