{% extends 'core/base.html' %} {% block content %} {% load static %}

<div class="header-section">
    <div class="container-flex"><img src="images/yumyum.png" alt="" srcset="images/yumyum-p-500.png 500w, images/yumyum.png 515w" sizes="(max-width: 515px) 100vw, 515px" style="-webkit-transform:translate3d(0, 45PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 45PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 45PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 45PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);"
            class="cursive-text" />
        <div class="title-wrap-centre">
            <h1 style="-webkit-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);"
                class="header-h1">Frequently Asked <span class="brand-span">Questions</span></h1>
        </div>
    </div>
</div>
<div class="content-section-short">
    <div class="container-tight">
        <div data-duration-in="300" data-duration-out="100" data-current="Tab 1" data-easing="ease" class="w-tabs">
            <div class="tab-menu-round w-tab-menu">
                <a data-w-tab="Tab 1" class="tab-link-round w-inline-block w-tab-link w--current">
                    <div>Our Food</div>
                </a>
                <a data-w-tab="Tab 2" class="tab-link-round w-inline-block w-tab-link">
                    <div>Our Delivery</div>
                </a>
                <a data-w-tab="Tab 3" class="tab-link-round w-inline-block w-tab-link">
                    <div>Our Company</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                    <div class="tab-pane-wrap">
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any vegan options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any gluten free options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Can I clone these sections?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo di am libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Why is Webflow so amazing?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do we need to write a business plan?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">How can we get funding for our start up?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane">
                    <div class="tab-pane-wrap">
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any vegan options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any gluten free options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Can I clone these sections?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo di am libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Why is Webflow so amazing?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do we need to write a business plan?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">How can we get funding for our start up?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane">
                    <div class="tab-pane-wrap">
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any vegan options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do you offer any gluten free options?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Can I clone these sections?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo di am libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
                                    quis viverra ornare, eros</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Why is Webflow so amazing?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">Do we need to write a business plan?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                        <div class="faq-question-wrap">
                            <a href="#" class="faq-question-bar w-inline-block">
                                <div class="question-title">How can we get funding for our start up?</div><img src="images/plus.svg" alt="" class="plus" />
                            </a>
                            <div class="faq-content">
                                <p class="faq-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                                    nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}