{% load static %}
<div class="content-section-bg">
    <div class="container">
        <div class="title-wrap-centre">
            <h2>Browse our menu</h2>
            <p>Use our menu to place an order online, or <a href="#">phone</a> our store to <br/>place a pickup order. Fast and fresh food.</p>
        </div>
        <div data-duration-in="300" data-duration-out="100" data-current="Burgers" data-easing="ease" class="w-tabs">
            <div class="tab-menu-round w-tab-menu">
                <a data-w-tab="Burgers" class="tab-link-round w-inline-block w-tab-link w--current">
                    <div>Burgers</div>
                </a>
                <a data-w-tab="Sides" class="tab-link-round w-inline-block w-tab-link">
                    <div>Sides</div>
                </a>
                <a data-w-tab="Drinks" class="tab-link-round w-inline-block w-tab-link">
                    <div>Drinks</div>
                </a>
            </div>
            <div class="w-tab-content">
                <div data-w-tab="Burgers" class="tab-pane-wrap w-tab-pane w--tab-active">
                    <div class="w-dyn-list">
                        <div role="list" class="order-collection w-dyn-items w-row">
                            {% for product in burgers %}
                            <div role="listitem" class="menu-item w-dyn-item w-col w-col-6">
                                <div class="food-card">
                                    <a href="/product/{{product.slug}}" class="food-image-square w-inline-block">
                                        <img alt="" src="{% static 'media/' %}{{product.image}}" class="food-image" />
                                    </a>
                                    <div class="food-card-content">
                                        <a href="/product/{{product.slug}}" class="food-title-wrap w-inline-block">
                                            <h6>{{product.title}}</h6>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ {{product.price}} USD</div>
                                        </a>
                                        <p class="paragraph">{{product.subtitle}}</p>
                                        <div class="add-to-cart">
                                            <form class="w-commerce-commerceaddtocartform default-state" method="post" action="/add-to-cart/{{ product.id }}/">
                                                {% csrf_token %}
                                                <input type="number" pattern="^[0-9]+$" inputMode="numeric" id="quantity-{{ product.id }}" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput quantity quantity" value="1">
                                                <input type="submit" class="order-button w-commerce-commerceaddtocartbutton" value="Add to Cart">
                                            </form>
                                            <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                <div>This product is out of stock.</div>
                                            </div>
                                            <div aria-live="" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                                                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
                                                    data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div data-w-tab="Sides" class="w-tab-pane">
                    <div class="w-dyn-list">
                        <div role="list" class="order-collection w-dyn-items w-row">
                            {% for product in sides %}
                            <div role="listitem" class="menu-item w-dyn-item w-col w-col-6">
                                <div class="food-card">
                                    <a href="/product/{{product.slug}}" class="food-image-square w-inline-block">
                                        <img alt="" src="{% static 'media/' %}{{product.image}}" class="food-image" />
                                    </a>
                                    <div class="food-card-content">
                                        <a href="/product/{{product.slug}}" class="food-title-wrap w-inline-block">
                                            <h6>{{product.title}}</h6>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ {{product.price}} USD</div>
                                        </a>
                                        <p class="paragraph">{{product.subtitle}}</p>
                                        <div class="add-to-cart">
                                            <form class="w-commerce-commerceaddtocartform default-state" method="post" action="/add-to-cart/{{ product.id }}/">
                                                {% csrf_token %}
                                                <input type="numZber" pattern="^[0-9]+$" inputMode="numeric" id="quantity-{{ product.id }}" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput quantity quantity" value="1">
                                                <input type="submit" class="order-button w-commerce-commerceaddtocartbutton" value="Add to Cart">
                                            </form>
                                            <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                <div>This product is out of stock.</div>
                                            </div>
                                            <div aria-live="" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                                                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
                                                    data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div data-w-tab="Drinks" class="w-tab-pane">
                    <div class="w-dyn-list">
                        <div role="list" class="order-collection w-dyn-items w-row">
                            {% for product in drinks %}
                            <div role="listitem" class="menu-item w-dyn-item w-col w-col-6">
                                <div class="food-card">
                                    <a href="/product/{{product.slug}}" class="food-image-square w-inline-block">
                                        <img alt="" src="{% static 'media/' %}{{product.image}}" class="food-image" />
                                    </a>
                                    <div class="food-card-content">
                                        <a href="/product/{{product.slug}}" class="food-title-wrap w-inline-block">
                                            <h6>{{product.title}}</h6>
                                            <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ {{product.price}} USD</div>
                                        </a>
                                        <p class="paragraph">{{product.subtitle}}</p>
                                        <div class="add-to-cart">
                                            <form class="w-commerce-commerceaddtocartform default-state" method="post" action="/add-to-cart/{{ product.id }}/">
                                                {% csrf_token %}
                                                <input type="number" pattern="^[0-9]+$" inputMode="numeric" id="quantity-{{ product.id }}" name="quantity" min="1" class="w-commerce-commerceaddtocartquantityinput quantity quantity" value="1">
                                                <input type="submit" class="order-button w-commerce-commerceaddtocartbutton" value="Add to Cart">
                                            </form>
                                            <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                <div>This product is out of stock.</div>
                                            </div>
                                            <div aria-live="" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
                                                <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription."
                                                    data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="-webkit-transform:translate3d(-25PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-25PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-25PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-25PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="button-wrapper"><a href="/order" class="button w-button">See Full Menu</a></div>
    </div>
</div>