<section class="h-[80vh] md:min-h-80 relative flex flex-1 shrink-0 items-center justify-center overflow-hidden bg-gray-100 py-12 shadow-lg md:py-20 xl:py-28">
  <!-- image - start -->
  <img src="/static/media/{{config.hero_image}}" loading="lazy" alt="Photo by Fakurian Design" class="absolute inset-0 h-full w-full object-cover object-center" />
  <!-- image - end -->

  <!-- overlay - start -->
  <div class="absolute inset-0 bg-slate-600 mix-blend-multiply"></div>
  <!-- overlay - end -->

  <!-- text start -->
  <div class="relative flex flex-col items-center p-4 sm:max-w-xl">
    <!-- <p class="mb-4 text-center text-lg text-indigo-200 sm:text-xl md:mb-8">Livraison Gratuite A Partir de 200dh</p> -->
    <h1 class="mb-8 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl">Meilleur Qualité et Prix Raisonables</h1>

    <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
      <a href="/produits" class="inline-block rounded-lg bg-accent px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:opacity-80 focus-visible:ring active:opacity-70 md:text-base">Découvrez Notre Produits</a>
    </div>
  </div>
  <!-- text end -->
</section>