<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <h2 class="mb-8 text-center text-2xl font-bold text-gray-800 md:mb-12 lg:text-3xl">Ce que les autres disent de nous</h2>

    <div class="grid gap-4 md:grid-cols-2 md:gap-8">
      <!-- quote - start -->
      <div class="flex flex-col items-center gap-4 rounded-lg bg-indigo-500 px-8 py-6 md:gap-6">
        <div class="max-w-md text-center text-white lg:text-lg">“This is a section of some simple filler text, also known as placeholder text.”</div>

        <div class="flex flex-col items-center gap-2 sm:flex-row md:gap-3">

            <div class="text-center text-sm font-bold text-indigo-50 sm:text-left md:text-base">John McCulling</div>
        </div>
      </div>
      <!-- quote - end -->

      <!-- quote - start -->
      <div class="flex flex-col items-center gap-4 rounded-lg bg-indigo-500 px-8 py-6 md:gap-6">
        <div class="max-w-md text-center text-white lg:text-lg">“This is a section of some simple filler text, also known as placeholder text.”</div>

        <div class="flex flex-col items-center gap-2 sm:flex-row md:gap-3">
          <div class="text-center text-sm font-bold text-indigo-50 sm:text-left md:text-base">Kate Berg</div>
        </div>
      </div>
      <!-- quote - end -->
    </div>
  </div>
</div>